*{
  margin: 0px;
  padding: 0px;
}


body{
  max-width: 1500px;
  margin: auto;
  background: rgb(62, 120, 245);
  overflow-x: hidden;
}

/* nav */

nav{
  display: flex;
  justify-content: space-between;
  max-width: 95%;
  margin: 20px auto;
  align-items: center;
}

nav .left img{
  width: 190px;
}

nav .right a{
  color: white;
  text-decoration: none;
  border: 1px solid #b1f5ff;
  padding: 10px;
  border-radius: 3px;
}

/* nav end */

/* container */

.container{
  margin-top: 70px;
  text-align: center;
}

.container .title h1{
  color: white;
  font-size: 40px;
  letter-spacing: 2px;
}

.container .title p{
  color: #77cfff;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.container form{
  display: flex;
  flex-direction: column;
}

.container form .top{
  display: flex;
  justify-content: center;
}

.container form .bottom{
  display: flex;
  justify-content: center;
}

.container form .top input, .container form .bottom input{
  margin: 10px;
  padding: 15px;
  width: 280px;
  border: none;
  box-sizing: border-box;
}

.container form select{
  width: 583px;
  padding: 15px;
  margin: 10px;
  color: #888;
  box-sizing: border-box;
  align-self: center;
}

.container form > input{
  color: white;
  border: none;
  background: blue;
  padding: 15px;
  box-sizing: border-box;
  width: 583px;
  margin-top: -10px;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

.container form p{
  color: #77cfff;
  margin: 20px;
}

.container form p a{
  color: #77cfff;
}

@media (max-width: 605px){
  .container .title h1{
    font-size: 34px;
    letter-spacing: 0px;
  }
  .container form select{
    width: 96%;
  }
  .container form > input{
    width: 96%;
  }
}

@media (max-width: 445px){
  nav .left img{
    width: 160px;
  }
  .container .title h1{
    font-size: 35px;
    max-width: 80%;
    margin: auto;
  }
  .container .title p{
    max-width: 90%;
    margin: auto;
  }
  .container form .top, .container form .bottom{
    display: block;
  }
  .container form .top input, .container form .bottom input{
    width: 96%;
  }
}
